<div id="RentController">
    {{7===7}}
    <button ng-click="rc.refreshRentals()">Refresh</button>
    <form ng-submit="rc.addRental(rc.newRental)">
        <label for="cityRent">City:</label>
        <input type="text" name="cityRent" id="cityRent" placeholder="City" ng-model="rc.newRental.city">
        <label for="rent">Rent:</label>
        <input type="number" name="rent" id="rent" placeholder="Rent" ng-model="rc.newRental.rent">
        <label for="sqftRent">Square Footage:</label>
        <input type="number" name="sqftRent" id="sqftRent" placeholder="Square Footage" ng-model="rc.newRental.sqft">
        <br>
        <button class="btn btn-primary">Add Rental</button>
    </form>
    <table class="table table-bordered" id="rentInfo">
        <tr>
            <th>City</th>
            <th>Rent</th>
            <th>Square Footage</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="rent in rc.allRentals">
            <td>{{rent.city}}</td>
            <td>{{rent.rent}}</td>
            <td>{{rent.sqft}}</td>
            <td><button class="btn btn-small btn-danger" ng-click="rc.deleteRentals(rent._id)"> Delete</button></td>
        </tr>
    </table>
</div>